Package: ca.varju.sbadblocktoggle
Name: SBAdBlockToggle-varju
Version: 2.4.1
Architecture: iphoneos-arm
Depends: sbsettings, wget, sed, grep, coreutils
Maintainer: Alex Varju
Author: Alex Varju
Icon: file:///var/mobile/Library/SBSettings/Themes/Default/AdBlock/on.png
Section: Addons (SBSettings)
Description: Switch between AdBlock and Non-AdBlock host file using SBSettings.
