Package: com.nathulal.SBAdBlockToggle
Version: 2.3.5.5
Architecture: iphoneos-arm
Depends: coreutils, sbsettings (>= 3.0.5), wget, ldid, com.modyouri.RepoIcon, mobilesubstrate, com.ericasadun.utilities, sudo, sed, grep, bzip2
Author: nathulal <corleone@modyouri.com>
dev: nathulal
Icon: file:///var/mobile/Library/SBSettings/Themes/Default/AdBlock/on.png
Section: SBSettings Addons
Name: SBAdBlockToggle
Homepage: http://www.modyouri.com/adblock-toggle/1-adblock-toggle-block-ads-system-wide.html
Depiction: http://repo.modyouri.com/depiction/sbadblock/sbadblock.html
Sponsor: Modyouri <http://www.modyouri.com>
Description: Switch between AdBlock and Non-AdBlock host file using SBSettings.
